<div class="main">
  <div ng-click="toggleSideBar()" hidden style="position:absolute;top:50px;right:50px;z-index:20;width:40px;height:40px;background-color:#5483A2">
    
  </div>
  <div class="name-section">
    <div class="name-box">
      <div class="name-text">Alex Boyle</div><p>
      <div>Full Stack Developer</div>
    </div>
  </div>
  <div id="wrapper">
    <div class="headder">Work History</div>
    <div class="section-body">
      <div ng-repeat="pos in work">
        <div style="border-radius:25px;background-color:#BABABA;padding: 10px">
          <div style="font-weight:700;font-size: 20px;">{{pos.position}}</div>
          <div style="font-size:17px;">{{pos.company}}<br>{{pos.date}} ({{pos.time}})</h4>
            <p style="font-size:15px;color: rgba( 0, 0, 0, .7)"><ul><li ng-repeat="point in pos.desc">{{point}}</ul></li></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat="(title, section) in sections">
    <div class="headder">{{title}}</div>
    <div class="section-body">
      <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5" md-row-height="1:1">
        <md-grid-tile ng-repeat="item in section">
          <a href="{{item.url}}" class="card">
            <div class="centerer"></div><img src="{{item.img}}"/>
          </a>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
<div class="sidebar">
  <center>
  <a href="resume">Print Resume</a>
  </center>
</div>